<!DOCTYPE html>
<html lang="en" ng-app="devmikroblog">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">Dev Mikroblog</a>
        </div>
        <div class="navbar-collapse collapse" ng-controller="UserController as account">
            <ul class="nav navbar-nav">
                <li><a href="#!/">Home</a></li>
                <li><a href="#!/Tag/javascript">Javascript</a></li>
                <li>@Html.ActionLink("API", "Index", "Help", new {area = ""}, null)</li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="logOff">
                <li style="color: white;" ng-show="$root.isLogged"><a href="#">Witaj! <i>{{account.userName}}</i></a>
                </li>
                <li>
                    <button class="btn btn-primary" ng-click="account.logout()" ng-show="$root.isLogged">Wyloguj się
                    </button>
                </li>
                <li>
                    <button class="btn btn-primary" ng-click="account.logout()" ng-show="$root.isLogged">Wyloguj się
                    </button>
                </li>
                <li>
                    <button class="btn btn-primary" ng-click="account.logout()" ng-show="$root.isLogged">Wyloguj się
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">


    <div ng-view></div>

    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

</div>
<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="js/src/main.js"></script>
<script type="text/javascript" src="js/src/route.js"></script>
<script type="text/javascript" src="js/src/urls.js"></script>
<script type="text/javascript" src="js/src/model.js"></script>
<script type="text/javascript" src="js/src/userService.js"></script>
<script type="text/javascript" src="js/src/postService.js"></script>
<script type="text/javascript" src="js/src/userController.js"></script>
<script type="text/javascript" src="js/src/homeController.js"></script>
<script type="text/javascript" src="js/src/postController.js"></script>
</body>
</html>